body, html {
  background-image: url(https://image.freepik.com/vecteurs-libre/fond-aquarelle_1020-970.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/* body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png) 
} */
  
.box {
  display: inline-block;       
  border: 1px solid #ffffff;
  width: 11px;
  height: 11px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: rgb(220, 28, 3);
}
  
.box:hover { 
  background: rgb(220, 28, 3);
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}